
<html>
    <header>
        <%- include("header")-%>
    </header>
    <body>
        <form method="post" action="/articles">
            <input type="text" name="title">
            <input type="text" name="content">
            <button type="submit">Send</button>
        </form>
    </body>
</html>